$break-mobileM: 375px
$break-mobileL: 425px
$break-tabletS: 768px
$break-tabletM: 1024px
$break-desktopS: 1280px
$break-desktopM: 1920px
=row()
  width: 100%
  &::after
    content: ""
    display: block
    clear: both
=col($num, $max: 12)
  float: left
  width: (100% / $max) * $num
=jump($num, $max: 12)
  margin-left: (100% / $max) * $num
=gutter($num, $max: 12)
  margin-right: (100% / $max) * $num
