@import url(normalize.css);
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:300i,400|Signika:300,400|Source+Sans+Pro:300,400";
/* --------------- */
/*   boilerplate   */
/* --------------- */
*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  font-size: 16px; }

ul {
  list-style: none;
  padding: unset; }

a {
  color: inherit;
  text-decoration: none; }

/* ------- */
/*   css   */
/* ------- */
body {
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
  background-color: #303030;
  color: #eee;
  font-weight: 400; }
  @media screen and (max-width: 720px) {
    body {
      min-height: 100vh; } }

main {
  margin: 0 auto;
  padding-top: 3vh;
  overflow-y: hidden;
  background-color: #444; }

.guide {
  border: 1px solid white;
  height: 300%;
  position: absolute;
  display: none;
  z-index: 100;
  width: 50%; }

.navigation {
  margin-bottom: 2.5rem; }
  .navigation .link-container-group .link-container {
    display: inline;
    font-size: 1rem;
    line-height: 1.7rem;
    text-transform: capitalize; }
    .navigation .link-container-group .link-container:first-child::before {
      content: "{ "; }
    .navigation .link-container-group .link-container:last-child::after {
      content: " }"; }

.link:hover {
  text-decoration: underline; }

.paragraph::after {
  content: "."; }

header, footer {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  text-align: center; }
  header::after, footer::after {
    content: "";
    display: block;
    clear: both; }

header {
  width: 95%;
  margin: 0 auto; }
  header .navigation .link-container-group {
    padding-left: 1.2rem; }
    header .navigation .link-container-group .link-container {
      margin-right: 1.05rem; }
  header .thomazella-logo {
    width: 100%;
    max-width: 85%;
    margin-top: 2rem;
    margin-bottom: 0.6rem;
    transform: rotate(-3deg); }
    header .thomazella-logo::after {
      content: "";
      display: block;
      clear: both; }
  header .professional-title {
    font-size: 0.65rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    text-transform: capitalize; }
    header .professional-title::before {
      content: "( "; }
    header .professional-title::after {
      content: " )"; }

.quick-description-of-me {
  width: 95%;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem; }
  .quick-description-of-me .paragraph::after {
    content: ""; }
  .quick-description-of-me .paragraph .so-fun::after {
    content: "."; }
  @media screen and (max-width: 360px) {
    .quick-description-of-me .paragraph .so-fun {
      display: block; } }

footer {
  background-color: #303030;
  padding: 1rem 0 1rem; }
  footer .navigation {
    margin-bottom: 1.8rem; }
    footer .navigation .link-container-group .link-container {
      display: block; }
      footer .navigation .link-container-group .link-container:first-child::before {
        content: unset; }
      footer .navigation .link-container-group .link-container:last-child::after {
        content: unset; }
  footer .social-media-links .link-container {
    display: inline; }
    footer .social-media-links .link-container:nth-child(0n+2) {
      margin: 0 1rem 0; }
    footer .social-media-links .link-container .link-image {
      max-width: 7vw; }

/*# sourceMappingURL=index.css.map */
