@charset "UTF-8";
@import url(normalize.css);
/* --------------- */
/*   boilerplate   */
/* --------------- */
*, *:after, *:before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-size: 100%;
  line-height: 1.25; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a, .social-media-links .img-svg, .social-media-links .thomazella-logo {
  color: inherit;
  text-decoration: none; }

p, .read-preview blockquote, .read blockquote, .project blockquote, .about blockquote, #email-me blockquote, .thanks-for-reading blockquote, .project-preview blockquote {
  margin: 0;
  hyphens: none; }

img {
  width: 100%; }

button {
  background-color: inherit; }
  button:focus {
    outline-style: none !important;
    transform: scale(1.15);
    zoom: 1.15; }

main > *,
.main > * {
  width: 100%; }

blockquote, pre, code {
  overflow-x: auto; }

code {
  display: block;
  white-space: nowrap; }

/* ------- */
/*   css   */
/* ------- */
body {
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
  color: #131323;
  font-weight: 400;
  background-color: #f3f3e9;
  overflow-x: hidden; }

.main {
  min-height: 768px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-y: hidden;
  background-color: #fffffc; }

.guide {
  border: 1px solid black;
  position: absolute;
  display: none;
  z-index: 900;
  width: 50%; }

.header, .header-fancy, #professional-description, #read-previews, #project-previews {
  margin-bottom: 75px;
  margin-bottom: 4.7rem; }

.header, .header-fancy {
  text-align: center; }
  .header *:after, .header-fancy *:after,
  .header *:before,
  .header-fancy *:before {
    font-size: 1.3em; }

.header-fancy {
  margin-top: 20px;
  margin-top: 3vh; }

a, .social-media-links .img-svg, .social-media-links .thomazella-logo {
  text-transform: capitalize;
  border-bottom: 1px solid #131323;
  transition-property: color, opacity;
  z-index: 100;
  position: relative; }
  a.is-link-to-current-page, .social-media-links .is-link-to-current-page.img-svg, .social-media-links .is-link-to-current-page.thomazella-logo {
    text-decoration: #131323 wavy underline;
    color: black; }
  a.disabled, .social-media-links .disabled.img-svg, .social-media-links .disabled.thomazella-logo {
    cursor: default; }
    a.disabled span, .social-media-links .disabled.img-svg span, .social-media-links .disabled.thomazella-logo span {
      border-color: transparent !important; }
  a.close, .social-media-links .close.img-svg, .social-media-links .close.thomazella-logo {
    float: right;
    margin-right: 3.2px;
    margin-right: 0.2rem;
    margin-right: 1.6px;
    margin-right: 0.1rem;
    border-width: 0;
    max-width: 13px; }
  a.back, .social-media-links .back.img-svg, .social-media-links .back.thomazella-logo {
    border-width: 0;
    display: block;
    text-align: center;
    text-transform: none;
    margin-bottom: 1.25em; }
    a.back:hover .img-svg, .social-media-links .back.img-svg:hover .img-svg, .social-media-links .back.thomazella-logo:hover .img-svg, a.back:hover .thomazella-logo, .social-media-links .back.img-svg:hover .thomazella-logo, .social-media-links .back.thomazella-logo:hover .thomazella-logo {
      zoom: 1;
      filter: alpha(opacity=15);
      opacity: 0.15; }
    a.back span, .social-media-links .back.img-svg span, .social-media-links .back.thomazella-logo span {
      position: relative;
      top: -2px;
      top: -0.125rem; }
    a.back .img-svg, .social-media-links .back.img-svg .img-svg, .social-media-links .back.thomazella-logo .img-svg, a.back .thomazella-logo, .social-media-links .back.img-svg .thomazella-logo, .social-media-links .back.thomazella-logo .thomazella-logo {
      transition-property: inherit;
      max-width: 15px;
      max-width: 1rem;
      margin-right: 4.8px;
      margin-right: 0.3rem; }
  a.other-site, a.other-site-small, .social-media-links .other-site-small.img-svg, .social-media-links .other-site-small.thomazella-logo, .social-media-links .other-site.img-svg, .social-media-links .other-site.thomazella-logo {
    margin-bottom: 1em;
    text-transform: none; }
  a.other-site-small, .social-media-links .other-site-small.img-svg, .social-media-links .other-site-small.thomazella-logo {
    text-transform: lowercase; }

.img-svg, .thomazella-logo {
  display: inline-block; }

button {
  border-style: none; }
  button:hover {
    cursor: pointer; }

.footer, .footer-home {
  background-color: #f3f3e9;
  padding: 1em 0 2em;
  text-align: center; }

.hide {
  display: none !important; }

/*________________________________________________________________
 * -  -  -  -  -  -  -  -  -  -  Home  -  -  -  -  -  -  -  -  -  -
 * ________________________________________________________________ */
.flex-vertical-align-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

#professional-title, .nav, .nav-fancy, .nav-footer, .read-preview .heading1, .read .heading1, .project .heading1, .about .heading1, #email-me .heading1, .thanks-for-reading .heading1, .project-preview .heading1, .read-preview .what-i-do strong, .what-i-do .read-preview strong, .read .what-i-do strong, .what-i-do .read strong, .project .what-i-do strong, .what-i-do .project strong, .about .what-i-do strong, .what-i-do .about strong, #email-me .what-i-do strong, .what-i-do #email-me strong, .thanks-for-reading .what-i-do strong, .what-i-do .thanks-for-reading strong, .project-preview .what-i-do strong, .what-i-do .project-preview strong,
.read-preview h2,
.read h2,
.project h2,
.about h2,
#email-me h2,
.thanks-for-reading h2,
.project-preview h2,
.read-preview h3,
.read h3,
.project h3,
.about h3,
#email-me h3,
.thanks-for-reading h3,
.project-preview h3,
.read .big,
.project .big,
.about .big,
#email-me .big,
.thanks-for-reading .big, .heading3 {
  font-family: "Roboto Mono", monospace;
  text-align: center; }

a.back, .social-media-links .back.img-svg, .social-media-links .back.thomazella-logo, a.other-site-small, .social-media-links .other-site-small.img-svg, .social-media-links .other-site-small.thomazella-logo, #professional-title, .span-date {
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 400; }
  @media screen and (min-width: 1280px) {
    a.back, .social-media-links .back.img-svg, .social-media-links .back.thomazella-logo, a.other-site-small, .social-media-links .other-site-small.img-svg, .social-media-links .other-site-small.thomazella-logo, #professional-title, .span-date {
      font-size: 14.7px;
      font-size: 0.92rem; } }

.thomazella-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  max-width: calc(77% + 1%);
  margin-top: 0.3em; }
  @media screen and (min-width: 414px) {
    .thomazella-logo {
      max-width: 70%; } }
  @media screen and (min-width: 768px) {
    .thomazella-logo {
      max-width: 46%;
      margin-top: 2em;
      margin-bottom: 1em; } }
  @media screen and (min-width: 1024px) {
    .thomazella-logo {
      max-width: 35%; } }
  @media screen and (min-width: 1280px) {
    .thomazella-logo {
      max-width: calc(100% - 72vw); } }

#professional-title {
  margin-bottom: 6.5em;
  margin-top: 0;
  text-transform: capitalize; }
  #professional-title:before {
    content: "("; }
  #professional-title:after {
    content: ")"; }
  @media screen and (min-width: 768px) {
    #professional-title {
      font-size: 13.8px;
      font-size: calc(0.67rem + 0.4vw); } }

a.back:hover, .social-media-links .back.img-svg:hover, .social-media-links .back.thomazella-logo:hover, a.other-site:hover, a.other-site-small:hover, .social-media-links .other-site-small.img-svg:hover, .social-media-links .other-site-small.thomazella-logo:hover, .social-media-links .other-site.img-svg:hover, .social-media-links .other-site.thomazella-logo:hover, .nav ul li a:hover, .nav-fancy ul li a:hover, .nav-footer ul li a:hover, .nav ul li .social-media-links .img-svg:hover, .social-media-links .nav ul li .img-svg:hover, .nav-fancy ul li .social-media-links .img-svg:hover, .social-media-links .nav-fancy ul li .img-svg:hover, .nav-footer ul li .social-media-links .img-svg:hover, .social-media-links .nav-footer ul li .img-svg:hover, .nav ul li .social-media-links .thomazella-logo:hover, .social-media-links .nav ul li .thomazella-logo:hover, .nav-fancy ul li .social-media-links .thomazella-logo:hover, .social-media-links .nav-fancy ul li .thomazella-logo:hover, .nav-footer ul li .social-media-links .thomazella-logo:hover, .social-media-links .nav-footer ul li .thomazella-logo:hover {
  color: #e5e5cf;
  border-color: inherit; }

a, .social-media-links .img-svg, .social-media-links .thomazella-logo, a.back .img-svg, .social-media-links .back.img-svg .img-svg, .social-media-links .back.thomazella-logo .img-svg, a.back .thomazella-logo, .social-media-links .back.img-svg .thomazella-logo, .social-media-links .back.thomazella-logo .thomazella-logo, .read-preview h1 span, .project-preview .heading1 span, .project-preview .what-i-do strong span, .what-i-do .project-preview strong span, .language-switch button, input,
textarea {
  transition-duration: 1.15s;
  transition-timing-function: ease-out; }

.what-does-tazel-mean span {
  transition-duration: 0.57s;
  transition-timing-function: ease-in-out; }

.span-date {
  text-transform: capitalize; }

.nav, .nav-fancy, .nav-footer {
  background-color: #f3f3e9;
  font-weight: 600;
  padding: 0.7em 0; }
  @media screen and (min-width: 768px) {
    .nav, .nav-fancy, .nav-footer {
      padding: 1.7em 0; } }
  .nav ul, .nav-fancy ul, .nav-footer ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block; }
    @media screen and (min-width: 414px) {
      .nav ul .linebreak-for-mobile-nav, .nav-fancy ul .linebreak-for-mobile-nav, .nav-footer ul .linebreak-for-mobile-nav {
        display: none; } }
    .nav ul li, .nav-fancy ul li, .nav-footer ul li {
      display: inline;
      line-height: 1.7em;
      margin: 0 0.45em; }
      @media screen and (min-width: 768px) {
        .nav ul li, .nav-fancy ul li, .nav-footer ul li {
          margin: 0 1.3em; } }
      @media screen and (min-width: 1024px) {
        .nav ul li, .nav-fancy ul li, .nav-footer ul li {
          margin: 0 2.5em; } }
      @media screen and (min-width: 1280px) {
        .nav ul li, .nav-fancy ul li, .nav-footer ul li {
          margin: 0 4em; } }

.nav-fancy {
  padding-top: 0;
  background-color: inherit; }
  .nav-fancy li:first-child::before {
    content: "{"; }
  .nav-fancy li:last-child:after {
    content: "}"; }
  .nav-fancy a, .nav-fancy .social-media-links .img-svg, .social-media-links .nav-fancy .img-svg, .nav-fancy .social-media-links .thomazella-logo, .social-media-links .nav-fancy .thomazella-logo {
    position: relative;
    bottom: 0.13em; }

.nav-footer {
  padding-bottom: 26px;
  padding-bottom: 4vh; }

#professional-description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center; }
  #professional-description h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4%;
    padding-right: 4%;
    font-weight: 600;
    max-width: 85%;
    font-size: 28.8px;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 1.4em;
    max-width: 600px; }
    @media screen and (min-width: 768px) {
      #professional-description h2 {
        max-width: 65%;
        font-size: 45px;
        font-size: 2.5rem; } }
    @media screen and (min-width: 1280px) {
      #professional-description h2 {
        max-width: 45%; } }
    @media screen and (min-width: 1600px) {
      #professional-description h2 {
        max-width: 40%; } }
    @media screen and (min-width: 1600px) {
      #professional-description h2 {
        margin-top: 130px; } }
    @supports (display: flex) {
      #professional-description h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0; } }

.footer-home {
  background-color: #fffffc; }
  .footer-home .nav-footer {
    display: none; }

.social-media-links a, .social-media-links .img-svg, .social-media-links .thomazella-logo {
  border-width: 0; }
.social-media-links li {
  display: inline;
  margin: 0 1.8em 0; }
  @media screen and (min-width: 768px) {
    .social-media-links li {
      margin: 0 2.5em 0; } }
  .social-media-links li .img-svg, .social-media-links li .thomazella-logo {
    max-width: 3%;
    max-width: calc(7% + 1%); }
    @media screen and (min-width: 768px) {
      .social-media-links li .img-svg, .social-media-links li .thomazella-logo {
        max-width: 5%; } }
    @media screen and (min-width: 1024px) {
      .social-media-links li .img-svg, .social-media-links li .thomazella-logo {
        max-width: 3.3%; } }
    @media screen and (min-width: 1600px) {
      .social-media-links li .img-svg, .social-media-links li .thomazella-logo {
        max-width: 2.2%; } }
.social-media-links .img-svg:hover, .social-media-links .thomazella-logo:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5; }
@media screen and (min-width: 414px) {
  .social-media-links {
    padding-top: 0.8em; } }

/*________________________________________________________________
 * -  -  -  -  -  -  -  -  -  -  Read  -  -  -  -  -  -  -  -  -  -
 * ________________________________________________________________ */
.container-tileable, .container-project-previews {
  padding-left: 2.5%;
  padding-right: 2.5%; }

.read-preview, .project-preview {
  margin-bottom: 0.75em; }
  @media screen and (min-width: 768px) {
    .read-preview, .project-preview {
      margin-bottom: 0.4em; } }

.read-preview p, .read p, .project p, .about p, #email-me p, .thanks-for-reading p, .project-preview p, .read-preview blockquote, .read blockquote, .project blockquote, .about blockquote, #email-me blockquote, .thanks-for-reading blockquote, .project-preview blockquote {
  text-transform: none;
  font-weight: 400;
  line-height: 1.52; }
  @media screen and (min-width: 1024px) {
    .read-preview p, .read p, .project p, .about p, #email-me p, .thanks-for-reading p, .project-preview p, .read-preview blockquote, .read blockquote, .project blockquote, .about blockquote, #email-me blockquote, .thanks-for-reading blockquote, .project-preview blockquote {
      font-size: 17.6px;
      font-size: 1.1rem; } }
.read-preview .heading1, .read .heading1, .project .heading1, .about .heading1, #email-me .heading1, .thanks-for-reading .heading1, .project-preview .heading1, .read-preview .what-i-do strong, .what-i-do .read-preview strong, .read .what-i-do strong, .what-i-do .read strong, .project .what-i-do strong, .what-i-do .project strong, .about .what-i-do strong, .what-i-do .about strong, #email-me .what-i-do strong, .what-i-do #email-me strong, .thanks-for-reading .what-i-do strong, .what-i-do .thanks-for-reading strong, .project-preview .what-i-do strong, .what-i-do .project-preview strong,
.read-preview h2,
.read h2,
.project h2,
.about h2,
#email-me h2,
.thanks-for-reading h2,
.project-preview h2,
.read-preview h3,
.read h3,
.project h3,
.about h3,
#email-me h3,
.thanks-for-reading h3,
.project-preview h3,
.read .big,
.project .big,
.about .big,
#email-me .big,
.thanks-for-reading .big {
  text-align: left;
  text-transform: uppercase;
  line-height: 1.35; }
.read-preview h2, .read h2, .project h2, .about h2, #email-me h2, .thanks-for-reading h2, .project-preview h2,
.read-preview h3,
.read h3,
.project h3,
.about h3,
#email-me h3,
.thanks-for-reading h3,
.project-preview h3,
.read .big,
.project .big,
.about .big,
#email-me .big,
.thanks-for-reading .big {
  padding: 2.5em 0; }
  .read-preview h2 + h4, .read h2 + h4, .project h2 + h4, .about h2 + h4, #email-me h2 + h4, .thanks-for-reading h2 + h4, .project-preview h2 + h4,
  .read-preview h3 + h4,
  .read h3 + h4,
  .project h3 + h4,
  .about h3 + h4,
  #email-me h3 + h4,
  .thanks-for-reading h3 + h4,
  .project-preview h3 + h4,
  .read .read-preview .big + h4,
  .read .big + h4,
  .read .project-preview .big + h4,
  .project .read-preview .big + h4,
  .project .big + h4,
  .project .project-preview .big + h4,
  .about .read-preview .big + h4,
  .about .big + h4,
  .about .project-preview .big + h4,
  #email-me .read-preview .big + h4,
  #email-me .read .big + h4,
  #email-me .project .big + h4,
  #email-me .about .big + h4,
  #email-me .big + h4,
  #email-me .project-preview .big + h4,
  .thanks-for-reading .read-preview .big + h4,
  #email-me .thanks-for-reading .big + h4,
  .thanks-for-reading .big + h4,
  .thanks-for-reading .project-preview .big + h4 {
    padding-top: 0; }
.read-preview .heading1, .read .heading1, .project .heading1, .about .heading1, #email-me .heading1, .thanks-for-reading .heading1, .project-preview .heading1, .read-preview .what-i-do strong, .what-i-do .read-preview strong, .read .what-i-do strong, .what-i-do .read strong, .project .what-i-do strong, .what-i-do .project strong, .about .what-i-do strong, .what-i-do .about strong, #email-me .what-i-do strong, .what-i-do #email-me strong, .thanks-for-reading .what-i-do strong, .what-i-do .thanks-for-reading strong, .project-preview .what-i-do strong, .what-i-do .project-preview strong {
  font-size: 43.2px;
  font-size: 2.7rem; }
.read-preview h2, .read h2, .project h2, .about h2, #email-me h2, .thanks-for-reading h2, .project-preview h2 {
  font-size: 32px;
  font-size: 2.3rem; }
.read-preview h3, .read h3, .project h3, .about h3, #email-me h3, .thanks-for-reading h3, .project-preview h3, .read .big, .project .big, .about .big, #email-me .big, .thanks-for-reading .big {
  font-size: 23.2px;
  font-size: 1.45rem; }
.read-preview h4, .read h4, .project h4, .about h4, #email-me h4, .thanks-for-reading h4, .project-preview h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 1.75em;
  padding-top: 1em; }
.read-preview hr, .read hr, .project hr, .about hr, #email-me hr, .thanks-for-reading hr, .project-preview hr {
  border: none; }
.read-preview blockquote, .read blockquote, .project blockquote, .about blockquote, #email-me blockquote, .thanks-for-reading blockquote, .project-preview blockquote {
  font-style: italic;
  margin: 0 1em;
  padding: 0.5em; }
.read-preview code, .read code, .project code, .about code, #email-me code, .thanks-for-reading code, .project-preview code, .read-preview pre, .read pre, .project pre, .about pre, #email-me pre, .thanks-for-reading pre, .project-preview pre {
  padding: 0.35em;
  background: #e5e5cf;
  margin: 2em 0; }
.read-preview code > pre, .read code > pre, .project code > pre, .about code > pre, #email-me code > pre, .thanks-for-reading code > pre, .project-preview code > pre {
  margin: 0; }
.read-preview code.inline, .read code.inline, .project code.inline, .about code.inline, #email-me code.inline, .thanks-for-reading code.inline, .project-preview code.inline {
  white-space: normal; }
.read-preview em > code, .read em > code, .project em > code, .about em > code, #email-me em > code, .thanks-for-reading em > code, .project-preview em > code, .read-preview em pre, .read em pre, .project em pre, .about em pre, #email-me em pre, .thanks-for-reading em pre, .project-preview em pre {
  padding-top: 0;
  padding-bottom: 0; }
.read-preview p > code, .read p > code, .project p > code, .about p > code, #email-me p > code, .thanks-for-reading p > code, .project-preview p > code, .read-preview blockquote > code, .read blockquote > code, .project blockquote > code, .about blockquote > code, #email-me .read-preview blockquote > code, #email-me .read blockquote > code, #email-me .project blockquote > code, #email-me .about blockquote > code, #email-me blockquote > code, #email-me .thanks-for-reading blockquote > code, .thanks-for-reading blockquote > code, #email-me .project-preview blockquote > code, .project-preview blockquote > code, .read-preview p pre, .read p pre, .project p pre, .about p pre, #email-me p pre, .thanks-for-reading p pre, .project-preview p pre, .read-preview blockquote pre, .read blockquote pre, .project blockquote pre, .about blockquote pre, #email-me blockquote pre, .thanks-for-reading blockquote pre, .project-preview blockquote pre, .read-preview li > code, .read li > code, .project li > code, .about li > code, #email-me li > code, .thanks-for-reading li > code, .project-preview li > code, .read-preview li pre, .read li pre, .project li pre, .about li pre, #email-me li pre, .thanks-for-reading li pre, .project-preview li pre {
  padding-top: 0.2em;
  padding-bottom: 0.2em; }
.read-preview .align-center, .read .align-center, .project .align-center, .about .align-center, #email-me .align-center, .thanks-for-reading .align-center, .project-preview .align-center, .read .important, .project .important, .about .important, #email-me .important, .thanks-for-reading .important, .read .big, .project .big, .about .big, #email-me .big, .thanks-for-reading .big {
  text-align: center; }
.read-preview .inline, .read .inline, .project .inline, .about .inline, #email-me .inline, .thanks-for-reading .inline, .project-preview .inline {
  display: inline;
  margin: 0; }
.read-preview .path-arrow:after, .read .path-arrow:after, .project .path-arrow:after, .about .path-arrow:after, #email-me .path-arrow:after, .thanks-for-reading .path-arrow:after, .project-preview .path-arrow:after {
  content: "⇒"; }

.read-preview, .project-preview {
  background-position: center;
  background-size: cover; }

.read-preview h1 span, .project-preview .heading1 span, .project-preview .what-i-do strong span, .what-i-do .project-preview strong span {
  border-bottom: 2px solid transparent;
  transition-property: border-color; }
  .read-preview h1 span:hover, .project-preview .heading1 span:hover, .project-preview .what-i-do strong span:hover, .what-i-do .project-preview strong span:hover {
    border-color: #131323; }

.read-preview, .read dl, .project dl, .about dl, #email-me dl, .thanks-for-reading dl, form {
  max-width: 415px; }

#read-previews {
  min-height: 65vh; }
  @media screen and (min-width: 1280px) {
    #read-previews {
      padding-left: 4%;
      padding-right: 4%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem; } }
  @media screen and (min-width: 1600px) {
    #read-previews {
      padding-left: 3%;
      padding-right: 3%; } }

@media screen and (min-width: 768px) {
  .container-tileable {
    padding-left: 10%;
    padding-right: 10%; } }
@media screen and (min-width: 1024px) {
  .container-tileable {
    padding-left: 13%;
    padding-right: 13%; } }
@media screen and (min-width: 1280px) {
  .container-tileable {
    padding-left: 0.75%;
    padding-right: 0.75%;
    float: left;
    width: 50%; }
    @supports (display: grid) {
      .container-tileable {
        width: 100%;
        max-width: 655px; }
        .container-tileable:nth-child(2n-1) {
          justify-self: end; } } }

.read-preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5% 2% 1% 2%;
  background-color: #f3f3e9;
  border-bottom: 3px solid #fffffc; }
  @media screen and (min-width: 768px) {
    .read-preview {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: 630px; }
      .read-preview:after {
        content: "";
        display: block;
        clear: both; } }
  @media screen and (min-width: 1280px) {
    .read-preview {
      max-width: 100%; }
      .read-preview .span-date {
        float: left;
        width: 12.5%;
        text-align: right;
        padding-top: 0.6em;
        padding-right: 8px;
        padding-right: 0.5rem; }
      .read-preview p, .read-preview blockquote, .read-preview #email-me blockquote, #email-me .read-preview blockquote {
        float: left;
        width: 50%;
        margin-top: 0;
        padding: 1.6px 8px 8px 8px;
        padding: 0.1rem 0.5rem 0.5rem 0.5rem; }
      .read-preview .heading1, .read-preview .what-i-do strong, .what-i-do .read-preview strong {
        float: left;
        width: 37.5%;
        margin-top: 0;
        padding-right: 8px;
        padding-right: 0.5rem;
        padding-left: 8px;
        padding-left: 0.5rem; } }

#reads, #projects {
  z-index: 200; }

.container-nontileable {
  background-color: rgba(255, 255, 252, 0.75); }

.read .important, .project .important, .about .important, #email-me .important, .thanks-for-reading .important, .read .explained, .project .explained, .about .explained, #email-me .explained, .thanks-for-reading .explained {
  border-color: #e5e5cf;
  border-width: 3px; }

.read, .project, .about, #email-me, .thanks-for-reading {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 12% 3%; }
  .read:after, .project:after, .about:after, #email-me:after, .thanks-for-reading:after {
    content: "";
    display: block;
    clear: both; }
  @media screen and (min-width: 768px) {
    .read, .project, .about, #email-me, .thanks-for-reading {
      padding-right: 7%;
      padding-left: 7%; } }
  .read .heading1, .project .heading1, .about .heading1, #email-me .heading1, .thanks-for-reading .heading1, .read .what-i-do strong, .what-i-do .read strong, .project .what-i-do strong, .what-i-do .project strong, .about .what-i-do strong, .what-i-do .about strong, #email-me .what-i-do strong, .what-i-do #email-me strong, .thanks-for-reading .what-i-do strong, .what-i-do .thanks-for-reading strong {
    text-align: center;
    padding: 3.5em 0; }
    @media screen and (min-width: 1024px) {
      .read .heading1, .project .heading1, .about .heading1, #email-me .heading1, .thanks-for-reading .heading1, .read .what-i-do strong, .what-i-do .read strong, .project .what-i-do strong, .what-i-do .project strong, .about .what-i-do strong, .what-i-do .about strong, #email-me .what-i-do strong, .what-i-do #email-me strong, .thanks-for-reading .what-i-do strong, .what-i-do .thanks-for-reading strong {
        font-size: 48px;
        font-size: 3rem; } }
    @media screen and (min-width: 1280px) {
      .read .heading1, .project .heading1, .about .heading1, #email-me .heading1, .thanks-for-reading .heading1, .read .what-i-do strong, .what-i-do .read strong, .project .what-i-do strong, .what-i-do .project strong, .about .what-i-do strong, .what-i-do .about strong, #email-me .what-i-do strong, .what-i-do #email-me strong, .thanks-for-reading .what-i-do strong, .what-i-do .thanks-for-reading strong {
        font-size: 56px;
        font-size: 3.5rem; } }
  .read p, .project p, .about p, #email-me p, .thanks-for-reading p, .read blockquote, .project blockquote, .about blockquote, #email-me blockquote, .thanks-for-reading blockquote {
    margin-top: 2em;
    margin-bottom: 2em; }
  .read ul, .project ul, .about ul, #email-me ul, .thanks-for-reading ul,
  .read dl,
  .project dl,
  .about dl,
  #email-me dl,
  .thanks-for-reading dl {
    padding: 0 1em;
    margin: 2em 0; }
    .read ul > dt, .project ul > dt, .about ul > dt, #email-me ul > dt, .thanks-for-reading ul > dt, .read ul li, .project ul li, .about ul li, #email-me ul li, .thanks-for-reading ul li, .read ul dd, .project ul dd, .about ul dd, #email-me ul dd, .thanks-for-reading ul dd,
    .read dl > dt,
    .project dl > dt,
    .about dl > dt,
    #email-me dl > dt,
    .thanks-for-reading dl > dt,
    .read dl li,
    .project dl li,
    .about dl li,
    #email-me dl li,
    .thanks-for-reading dl li,
    .read dl dd,
    .project dl dd,
    .about dl dd,
    #email-me dl dd,
    .thanks-for-reading dl dd {
      padding-left: 0.5em; }
    .read ul li, .project ul li, .about ul li, #email-me ul li, .thanks-for-reading ul li,
    .read ul dd,
    .project ul dd,
    .about ul dd,
    #email-me ul dd,
    .thanks-for-reading ul dd,
    .read dl li,
    .project dl li,
    .about dl li,
    #email-me dl li,
    .thanks-for-reading dl li,
    .read dl dd,
    .project dl dd,
    .about dl dd,
    #email-me dl dd,
    .thanks-for-reading dl dd {
      margin-bottom: 1.3em; }
    .read ul dd, .project ul dd, .about ul dd, #email-me ul dd, .thanks-for-reading ul dd,
    .read dl dd,
    .project dl dd,
    .about dl dd,
    #email-me dl dd,
    .thanks-for-reading dl dd {
      margin-left: 0;
      background-color: #e5e5cf; }
    .read ul dt:after, .project ul dt:after, .about ul dt:after, #email-me ul dt:after, .thanks-for-reading ul dt:after,
    .read dl dt:after,
    .project dl dt:after,
    .about dl dt:after,
    #email-me dl dt:after,
    .thanks-for-reading dl dt:after {
      content: ":"; }
    .read ul dt, .project ul dt, .about ul dt, #email-me ul dt, .thanks-for-reading ul dt,
    .read ul dd,
    .project ul dd,
    .about ul dd,
    #email-me ul dd,
    .thanks-for-reading ul dd,
    .read dl dt,
    .project dl dt,
    .about dl dt,
    #email-me dl dt,
    .thanks-for-reading dl dt,
    .read dl dd,
    .project dl dd,
    .about dl dd,
    #email-me dl dd,
    .thanks-for-reading dl dd {
      padding-top: 0.35em;
      padding-bottom: 0.35em; }
  .read dl, .project dl, .about dl, #email-me dl, .thanks-for-reading dl {
    overflow: auto; }
    @supports (display: grid) {
      .read dl, .project dl, .about dl, #email-me dl, .thanks-for-reading dl {
        max-width: 100%;
        display: grid;
        grid-template-columns: minmax(min-content, 50%) minmax(min-content, 50%);
        grid-gap: 1em; }
        @media screen and (min-width: 1024px) {
          .read dl, .project dl, .about dl, #email-me dl, .thanks-for-reading dl {
            grid-template-columns: minmax(min-content, 33%) minmax(min-content, 67%);
            max-width: 75%; } } }
  .read .important, .project .important, .about .important, #email-me .important, .thanks-for-reading .important {
    border-style: solid;
    padding: 1em 0.5em; }
  .read .big, .project .big, .about .big, #email-me .big, .thanks-for-reading .big {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
    text-transform: uppercase;
    font-family: inherit; }
    @media screen and (min-width: 1024px) {
      .read .big, .project .big, .about .big, #email-me .big, .thanks-for-reading .big {
        width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto; } }
  .read .no-margin, .project .no-margin, .about .no-margin, #email-me .no-margin, .thanks-for-reading .no-margin {
    margin: 0; }
  .read .lang-shell:before, .project .lang-shell:before, .about .lang-shell:before, #email-me .lang-shell:before, .thanks-for-reading .lang-shell:before {
    content: "$ "; }
  .read .explains-syntax:after, .project .explains-syntax:after, .about .explains-syntax:after, #email-me .explains-syntax:after, .thanks-for-reading .explains-syntax:after {
    display: inline;
    content: "(" attr(aria-label) ")";
    color: rgba(19, 19, 35, 0.5); }
  .read .explained, .project .explained, .about .explained, #email-me .explained, .thanks-for-reading .explained {
    border-color: #131323;
    border-color: rgba(19, 19, 35, 0.5);
    border-style: dashed; }
    .read .explained:hover, .project .explained:hover, .about .explained:hover, #email-me .explained:hover, .thanks-for-reading .explained:hover, .read .explained:active, .project .explained:active, .about .explained:active, #email-me .explained:active, .thanks-for-reading .explained:active {
      cursor: help; }
      .read .explained:hover .explains-syntax:after, .project .explained:hover .explains-syntax:after, .about .explained:hover .explains-syntax:after, #email-me .explained:hover .explains-syntax:after, .thanks-for-reading .explained:hover .explains-syntax:after, .read .explained:active .explains-syntax:after, .project .explained:active .explains-syntax:after, .about .explained:active .explains-syntax:after, #email-me .explained:active .explains-syntax:after, .thanks-for-reading .explained:active .explains-syntax:after {
        content: attr(data-ex);
        color: #131323; }
  .read [aria-label="screenshot"], .project [aria-label="screenshot"], .about [aria-label="screenshot"], #email-me [aria-label="screenshot"], .thanks-for-reading [aria-label="screenshot"] {
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=3px,OffY=3px,Color="#e5e5cf",Positive='true');
    box-shadow: 3px 3px 10px 4px #e5e5cf; }

.read-background, .project-background {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f3e9;
  padding: 2% 4%;
  max-width: 1000px; }
  @media screen and (min-width: 768px) {
    .read-background, .project-background {
      padding: 3% 4%; } }
  @media screen and (min-width: 1280px) {
    .read-background, .project-background {
      padding-left: 4.7%;
      padding-right: 4.7%; } }

.read .important, .project .important, .about .important, #email-me .important, .thanks-for-reading .important, .read-header, .container-image-wide img, .project-header, .about-header {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1280px) {
    .read .important, .project .important, .about .important, #email-me .important, .thanks-for-reading .important, .read-header, .container-image-wide img, .project-header, .about-header {
      width: 84%; } }

.read-text, .project-text, .about-text {
  margin-bottom: 2em; }

.container-image-wide, .container-image-right, .container-image-left {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 2em; }
  .container-image-wide:after, .container-image-right:after, .container-image-left:after {
    content: "";
    display: block;
    clear: both; }
  @media screen and (min-width: 768px) {
    .container-image-wide, .container-image-right, .container-image-left {
      margin-top: 0.4em; } }

.container-image-right img, .container-image-left img,
.container-image-right .img-svg,
.container-image-left .img-svg,
.container-image-right .thomazella-logo,
.container-image-left .thomazella-logo {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
@media screen and (min-width: 768px) {
  .container-image-right, .container-image-left {
    float: left;
    width: 58.3333333333%;
    display: inline;
    margin-bottom: 0; } }

@media screen and (min-width: 1024px) {
  .container-image-right {
    float: right; } }
@media screen and (min-width: 768px) {
  .container-image-right img {
    margin-left: 0; } }
@media screen and (min-width: 1024px) {
  .container-image-right img {
    margin-left: auto;
    margin-right: 0; } }

@media screen and (min-width: 768px) {
  .container-image-left img {
    margin-left: 0; } }

.empty-transparency {
  position: absolute;
  height: 768px;
  height: 100vh;
  width: 768px;
  width: 100vw;
  left: 0px;
  background-color: white;
  background-color: rgba(255, 255, 252, 0.75); }

.added-by-js {
  position: absolute;
  z-index: 200;
  width: 100%;
  background-color: white;
  background-color: rgba(255, 255, 252, 0.75); }

.container-backlinks {
  margin-top: 6em; }

/*________________________________________________________________
 * -  -  -  -  -  -  -  -  -  -  Projects  -  -  -  -  -  -  -  -  -  -
 * ________________________________________________________________ */
#project-previews {
  min-height: 65vh; }

.project-preview hr, .container-project-logo {
  border-color: #f3f3e9;
  border-width: 3px; }

.container-project-previews {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* ---- grid fallback ---- */
  /* ---- end ---- */ }
  @media screen and (min-width: 768px) {
    .container-project-previews {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
      .container-project-previews:after {
        content: "";
        display: block;
        clear: both; } }
  @media screen and (min-width: 1600px) {
    .container-project-previews {
      padding-left: 12.5%;
      padding-right: 12.5%; } }
  @supports (display: grid) {
    @media screen and (min-width: 768px) {
      .container-project-previews {
        display: grid;
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 1024px) {
      .container-project-previews {
        padding-left: 10%;
        padding-right: 10%; } }
    @media screen and (min-width: 1280px) {
      .container-project-previews {
        grid-template-columns: repeat(3, 1fr); } }
    @media screen and (min-width: 1600px) {
      .container-project-previews {
        grid-template-columns: repeat(4, 1fr); } } }

.project-preview {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 7%;
  transition: background-color 0.5s ease;
  position: relative;
  /* ---- grid fallback ---- */
  /* ---- end ---- */
  /* ---- fallback override ---- */
  /* ---- end ---- */ }
  .project-preview p, .project-preview #email-me blockquote, #email-me .project-preview blockquote, .project-preview blockquote {
    padding: 1.5em 0; }
  .project-preview hr {
    border-bottom-style: solid;
    position: relative;
    margin-top: 1em; }
  @media screen and (min-width: 768px) {
    .project-preview .horizontal-separator {
      top: 4em; } }
  .project-preview .heading1, .project-preview .what-i-do strong, .what-i-do .project-preview strong {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2.67em; }
  .project-preview .span-date {
    display: none; }
  .project-preview:hover {
    background-color: #f3f3e9; }
  @media screen and (min-width: 768px) {
    .project-preview {
      float: left;
      width: 49%; }
      .project-preview:nth-child(2n+1) {
        margin-right: 2%; } }
  @media screen and (min-width: 1280px) {
    .project-preview {
      float: left;
      width: 32.0388349515%;
      padding-left: 3%;
      padding-right: 3%; }
      .project-preview:nth-child(n) {
        margin-right: 0; }
      .project-preview:nth-child(3n+1) {
        margin-right: 1.9417475728%; }
      .project-preview:nth-child(3n+2) {
        margin-right: 1.9417475728%; } }
  @supports (display: grid) {
    .project-preview {
      max-width: 415px; }
      @media screen and (min-width: 768px) {
        .project-preview {
          margin: 0;
          width: 95%;
          float: none;
          padding-left: 5%;
          padding-right: 5%; }
          .project-preview:nth-child(2n-1) {
            justify-self: end; } } }

.container-project-logo {
  border-style: solid;
  padding-top: 6.4px;
  padding-top: 0.4rem; }
  .container-project-logo .img-svg, .container-project-logo .thomazella-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%; }

.project-header {
  margin-bottom: 2em; }

.project-text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .project-text:after {
    content: "";
    display: block;
    clear: both; }

.vertical-separator {
  display: none;
  transform: rotate(90deg);
  position: relative;
  right: -59%;
  top: -28%; }
  @media screen and (min-width: 768px) {
    @supports (display: grid) {
      .vertical-separator {
        display: block; } } }

/*________________________________________________________________
 * -  -  -  -  -  -  -  -  -  -  About  -  -  -  -  -  -  -  -  -  -
 * ________________________________________________________________ */
.language-switch {
  padding: 1%;
  display: inline-block;
  text-align: center;
  position: relative;
  left: -3px;
  transform: scale(0.8); }
  .language-switch .img-svg, .language-switch .thomazella-logo {
    max-width: 50px;
    padding-top: 3.2px;
    padding-top: 0.2rem; }
  .language-switch button {
    transition-property: opacity;
    padding: 0;
    zoom: 1;
    filter: alpha(opacity=30);
    opacity: 0.3; }
    .language-switch button:hover {
      zoom: 1;
      filter: alpha(opacity=100);
      opacity: 1; }
    .language-switch button.active {
      zoom: 1;
      filter: alpha(opacity=100);
      opacity: 1; }
    .language-switch button:first-child {
      margin-right: 1em; }

button.active {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1; }

label, input,
textarea {
  padding: 2%; }

#email-me label {
  float: left;
  width: 33.3333333333%; }
  @media screen and (min-width: 768px) {
    #email-me label {
      float: left;
      width: 20.8333333333%; } }
#email-me input[type="email"],
#email-me input[type="text"] {
  float: left;
  width: 66.6666666667%; }
  @media screen and (min-width: 768px) {
    #email-me input[type="email"],
    #email-me input[type="text"] {
      float: left;
      width: 79.1666666667%; } }
#email-me label[for="email-body"] {
  display: none; }

form {
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    form {
      max-width: 600px;
      max-width: 37.5rem; } }

.container-labelAndInput {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0.5em; }
  .container-labelAndInput:after {
    content: "";
    display: block;
    clear: both; }

input,
textarea {
  border-style: none;
  background-color: #e5e5cf;
  transition-property: border-color;
  border: 2px solid transparent; }
  input:focus,
  textarea:focus {
    border-color: #131323; }

textarea {
  width: 100%;
  margin-bottom: 0.5em;
  min-width: 75%;
  min-height: 10em; }

fieldset {
  border-style: none; }
  fieldset legend {
    display: none; }

input[type="submit"] {
  display: block;
  font-weight: 600;
  width: auto; }
  input[type="submit"]:hover {
    cursor: pointer;
    border-color: #131323; }

.about, #email-me, .thanks-for-reading {
  padding-top: 0; }

.container-about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0 4%;
  max-width: 525px; }
  .container-about:after {
    content: "";
    display: block;
    clear: both; }
  @media screen and (min-width: 768px) {
    .container-about {
      max-width: 100%;
      padding: 0; } }
  @media screen and (min-width: 1280px) {
    .container-about {
      max-width: 1175px; } }

.about-header {
  margin-bottom: 2em; }
  @media screen and (min-width: 1280px) {
    .about-header {
      margin-bottom: 15em;
      margin-top: 5em; } }

.with-a-box-around {
  background-color: #f3f3e9;
  border: 3px solid #131323; }

.container-thomazella-pic {
  display: inline-block;
  padding-top: 1em;
  max-width: 300px;
  margin-bottom: 1.5em;
  transform: rotate(5deg);
  filter: drop-shadow(7px 8px 0px #131323); }
  .container-thomazella-pic > * {
    border: 2px solid #131323; }
  @media screen and (min-width: 768px) {
    .container-thomazella-pic {
      max-width: 200px; } }
  @media screen and (min-width: 1024px) {
    .container-thomazella-pic {
      margin-bottom: 0; } }

@media screen and (min-width: 768px) {
  .about-text {
    display: grid; } }

.what-does-tazel-mean h2 {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
  display: block;
  transform: rotate(5deg); }
  .what-does-tazel-mean h2:hover span.fade-to-background {
    color: #f3f3e9; }
.what-does-tazel-mean span {
  transition-property: color;
  line-height: 1.4; }
@media screen and (min-width: 768px) {
  .what-does-tazel-mean {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: 1/8;
    position: relative;
    top: -45px;
    left: -25px; }
    .what-does-tazel-mean h2 {
      padding: 0;
      width: 100%;
      position: relative;
      left: 14px;
      margin-bottom: 0; }
      .what-does-tazel-mean h2 > span {
        display: inline-block;
        margin-bottom: -3px; } }
@media screen and (min-width: 1280px) {
  .what-does-tazel-mean {
    grid-area: 1/5;
    left: -76px;
    top: -145px; } }

@media screen and (min-width: 768px) {
  .who-i-am {
    grid-area: 1/1/auto/6; } }
@media screen and (min-width: 1280px) {
  .who-i-am {
    grid-area: 1/1/auto/9;
    display: grid;
    grid-template-rows: repeat(4, 5rem);
    grid-template-columns: repeat(8, 1fr); }
    .who-i-am p, .who-i-am .read-preview blockquote, .read-preview .who-i-am blockquote, .who-i-am .read blockquote, .read .who-i-am blockquote, .who-i-am .project blockquote, .project .who-i-am blockquote, .who-i-am .about blockquote, .about .who-i-am blockquote, .who-i-am #email-me blockquote, #email-me .who-i-am blockquote, .who-i-am .thanks-for-reading blockquote, .thanks-for-reading .who-i-am blockquote, .who-i-am .project-preview blockquote, .project-preview .who-i-am blockquote {
      margin-top: 0; }
    .who-i-am .heading3 {
      grid-area: 1/1/auto/span 2;
      align-self: end; }
    .who-i-am p:nth-child(2), .who-i-am .read-preview blockquote:nth-child(2), .read-preview .who-i-am blockquote:nth-child(2), .who-i-am .read blockquote:nth-child(2), .read .who-i-am blockquote:nth-child(2), .who-i-am .project blockquote:nth-child(2), .project .who-i-am blockquote:nth-child(2), .who-i-am .about blockquote:nth-child(2), .about .who-i-am blockquote:nth-child(2), .who-i-am #email-me blockquote:nth-child(2), #email-me .who-i-am blockquote:nth-child(2), .who-i-am .thanks-for-reading blockquote:nth-child(2), .thanks-for-reading .who-i-am blockquote:nth-child(2), .who-i-am .project-preview blockquote:nth-child(2), .project-preview .who-i-am blockquote:nth-child(2) {
      grid-area: 2/1/auto/span 3; }
    .who-i-am p:nth-child(3), .who-i-am .read-preview blockquote:nth-child(3), .read-preview .who-i-am blockquote:nth-child(3), .who-i-am .read blockquote:nth-child(3), .read .who-i-am blockquote:nth-child(3), .who-i-am .project blockquote:nth-child(3), .project .who-i-am blockquote:nth-child(3), .who-i-am .about blockquote:nth-child(3), .about .who-i-am blockquote:nth-child(3), .who-i-am #email-me blockquote:nth-child(3), #email-me .who-i-am blockquote:nth-child(3), .who-i-am .thanks-for-reading blockquote:nth-child(3), .thanks-for-reading .who-i-am blockquote:nth-child(3), .who-i-am .project-preview blockquote:nth-child(3), .project-preview .who-i-am blockquote:nth-child(3) {
      grid-area: 2/6/auto/span 3; }
    .who-i-am p:nth-child(4), .who-i-am .read-preview blockquote:nth-child(4), .read-preview .who-i-am blockquote:nth-child(4), .who-i-am .read blockquote:nth-child(4), .read .who-i-am blockquote:nth-child(4), .who-i-am .project blockquote:nth-child(4), .project .who-i-am blockquote:nth-child(4), .who-i-am .about blockquote:nth-child(4), .about .who-i-am blockquote:nth-child(4), .who-i-am #email-me blockquote:nth-child(4), #email-me .who-i-am blockquote:nth-child(4), .who-i-am .thanks-for-reading blockquote:nth-child(4), .thanks-for-reading .who-i-am blockquote:nth-child(4), .who-i-am .project-preview blockquote:nth-child(4), .project-preview .who-i-am blockquote:nth-child(4) {
      grid-area: 2/6/auto/span 3; } }

.heading3 {
  text-align: left;
  font-size: 1.5rem;
  margin: 2em 0; }

.what-i-do strong {
  display: inline-block;
  line-height: 1.55; }
@media screen and (min-width: 768px) {
  .what-i-do {
    grid-area: 2/1/auto/9; } }

.skills b {
  text-transform: uppercase; }
.skills li {
  line-height: 1.45;
  margin-bottom: 1.5em; }
  @media screen and (min-width: 1280px) {
    .skills li {
      line-height: 1.55; } }
@media screen and (min-width: 768px) {
  .skills {
    grid-area: 3/1/auto/9;
    display: grid;
    grid-column-gap: 2.5em; }
    .skills .dev-skills {
      grid-area: 1/1; }
    .skills .design-skills {
      grid-area: 1/2; }
    .skills .other-skills {
      grid-area: 1/2;
      position: relative;
      top: 44%; } }
@media screen and (min-width: 1280px) {
  .skills .other-skills {
    grid-area: 1/3/auto/span 1;
    position: static; } }

@media screen and (min-width: 768px) {
  .opinions {
    grid-area: 4/1/auto/span 8; }
    .opinions .container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block; }
      .opinions .container:after {
        content: "";
        display: block;
        clear: both; }
    .opinions .container-thomazella-pic {
      float: right;
      position: relative;
      left: 14px;
      top: 70px; }
    .opinions h2 {
      float: left;
      display: inline; }
    .opinions ul {
      display: grid;
      grid-template-rows: repeat(6, auto);
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2.5em; } }
    @media screen and (min-width: 768px) and (min-width: 1280px) {
      .opinions ul {
        grid-template-columns: repeat(3, 1fr); }
        .opinions ul li:last-child {
          grid-area: 2/2; } }

.thanks-for-reading em {
  margin-top: 4.5em;
  display: block; }
.thanks-for-reading .img-svg, .thanks-for-reading .thomazella-logo {
  margin-top: 4.5em;
  position: relative;
  left: -30px; }
@media screen and (min-width: 1280px) {
  .thanks-for-reading .container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1175px; } }

#pic-cartoon {
  background-color: #f3f3e9; }
  #pic-cartoon svg {
    max-height: 310px; }
    @media screen and (min-width: 414px) {
      #pic-cartoon svg {
        max-height: 370px; } }
    @media screen and (min-width: 768px) {
      #pic-cartoon svg {
        max-height: 190px; } }

/*# sourceMappingURL=index.css.map */
